@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

body{
  background-color: #EEE;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
h1{
  color: #888;
  font-size: 43px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  margin-bottom: 16px;
  transition: 0.4s;
}

.search-box input{
  display: block;
  appearance: none;
  border: none;
  outline: none;
  padding: 16px;
  width: 100%;
  transition: 0.4s;
  cursor: pointer;
}

.search-box:hover{
 box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
 transform: translateY(-7px);

}

.results{
  max-width: 769px;
  margin: 0 auto;
}

.result{
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 16px;
  transition: 0.4s;
}
.result:hover{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateX(3px);
 }

 .result h3{
   color: #888;
   font-size: 28px;
   margin-bottom: 16px;
 }

 .result p{
   color: #313131;
   font-size: 18px;
   margin-bottom: 16px;
 }
 .result p .searchmatch{
   font-weight: 700;
   font-size: 20px;
   color: #A84fff;
 }

 .result a{
   display: inline-block;
   padding: 12px 16px;
   background-color: #A84fff;
   color: #fff;
   font-weight: 700;
   text-decoration: none;
   border-radius: 12px;
   transition: 0.4s;
 }

 .result:hover{
   background-color: #FF4a;
 }
 .result a:hover{
  background-color: #FF4A48;
}

@media screen and (max-width: 500px) {
  .search-box{
    width: 20rem;
  }
}